.holder{
    box-sizing: border-box;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
}
.item{
    padding: 20px 50px 20px 50px;
    text-align: center;
}
.item:nth-child(1){
    flex-basis: 200px;
    flex-grow: 2;
    order: -2;
    background-color: tomato;
}
.item:nth-child(2){
    flex-grow: 1;
    background-color: rgb(99, 99, 240);
}
.item:nth-child(3){
    background-color: blueviolet;
    flex-grow: 1;
    order: -1;
}
.item:nth-child(4){
    flex-grow: 1;
    background-color: green;
}
.item:nth-child(5){
    flex-basis: 200px;
    flex-grow: 2;
    background-color: orange;
    order: -2;
}
    